.header{
    background-color: lightgray;
    padding: 5px;
    margin: 0;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    margin-bottom: 10px;
    
    
}


.img{
    border-radius: 20px;
    border: purple solid;
}




.nav{
    cursor: pointer;
    color: blue;
    font-weight: 500;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.input{
    border-radius: 10px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    background-color:  rgb(66, 66, 211);
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 1px 1px 1px 1px black;
    
    
}




.input:hover{
    background-color: purple;
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.1);
}
    
.paragrafo{
    color: blue;
    text-decoration: none;
}

.paragrafo:hover{
    transition-duration: 1s;
    color: purple;
    transform: scale(1.1);
    cursor: pointer;
}


@media(max-width:534px){
    .nav{
        font-size: 15px;
        margin-left: 20px;
        gap: 12px;
    }
    .img{
        width: 90px;
    }

    
}




@media(max-width:724px){
    .nav{
        margin-left: 80px;
    }
}


@media(max-width:737px){
    .nav{
        margin-right: 110px;
    }
}


@media(min-width:850px){
    .nav{
        display: flex;
        gap: 30px;
    }
} 


@media(min-width:700px){
    .img{width: 130px;}
}

@media(min-width:1195px){
    .nav{
        gap: 70px;
    }
    
}

@media(min-width:1500px){
    .nav{
        gap: 115px;
    }
    
}
